:root {
    --time: 25s;
  }
.scroll {
    position: relative;
    display: flex;
    /* width: 800px; */
    overflow: hidden;
    margin: 0 auto;
    /* -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent) */
}

.scroll div {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
    animation-delay: calc(var(--time)*-1);

}

.scroll div:nth-child(2) {
    animation: scroll2 var(--time) linear infinite;
    animation-delay: calc(var(--time)/-2);
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

/* .scroll div span {
    display: inline-flex;
    margin: 10px;
    letter-spacing: 0.2em;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
} */

.imgBox div {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.imgBox img {
    max-width: 100px;
    scale: 0.8;
}